body{
	background-color: #EEEDD5;
}
.generatorWrap{
	background-color: white;
	padding: 10px;
}
.banner{
	width:100%;
}
h2, h3{
	text-align: center;
	color: #05334C;
}
.inputWrap{
	padding: 5px;
}
input, textarea{
	width: 100%;
	border-radius: 4px;
}
p.label{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}
p.inputDescription{
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 5px;
}
div#output{
	border: 1px solid #05334C;
	border-radius: 4px;
	background-color: #EEEDD5;
}
p.linkOutput{
	overflow: scroll;
}
input[type="submit"], button{
	background-color: #05334C;
	color: white;
	border: 1px solid #05334C;
	border-radius: 4px;
	height: 25px;
	margin-bottom: 10px;
}
@media(max-width: 400px){
	.generatorWrap{
		padding: 10px 0;
	}	
}